.meme {
    position: relative;
    top: 10px;
    height: 200px; 
    width: 200px;
    margin-bottom: 50px;
    /* added margin-bot bc consecutive meme would go onto delete button otherwise */
}
.meme img {
    overflow: hidden;
}
#memeTopText {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    color: white;
    left: 50%;
}
#memeBotText { 
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    color: white;
    bottom: -20px;
    left: 50%;
}
